@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
:root{
  --bg:#000000;
  --card:#0a0a0a;
  --card-soft:#121212;
  --text:#ffffff;
  --text-light:#e5e7eb;
  --text-muted:#9ca3af;

  --accent:#f97316;
}
body{
  min-height: 100vh;
  background:var(--bg);
  color:var(--text);
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}