.login-popup {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  display: grid;
}
.login-popup-container {
  place-self: center;
  width: max(23vw, 330px);
  background: var(--card);
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px 30px;
  border-radius: 8px;
  font-size: 14px;
  font-size: 18px;
  animation: fadeIn 0.5s;
}
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text)
}
.login-popup-title img {
  width: 16px;
  cursor: pointer;
}
.login-popup-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-popup-inputs input {
  outline: none;
  
  padding: 10px;
  border-radius: 4px;
  font-size: 18px;
  

  background:var(--card-soft);
    color:#ffffff;
    border:1px solid rgba(255,255,255,.15);
}
.login-popup-inputs input::placeholder{
    color:#9ca3af;
}
.login-popup-container button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  color: white;
  background:var(--accent);
  cursor: pointer;
  font-size: 18px;
}
.login-popup-condition {
  display: flex;
  align-items: start;
  gap: 10px;
  margin-top: -15px;
  font-size: 14px;
}
.login-popup-condition input {
  margin-top: 5px;
}
.login-popup p span {
  color: var(--accent);
  font-weight: 500;
  cursor: pointer;
}
